<div class="container">
  <h1>Welcome to Our Craft Store!</h1>

  <h2>Create an Artisan Account:</h2>
  <ol>
    <li>Click <a href="/artisan-login">here</a> to access the artisan login page.</li>
    <li>Select "Create Account" to sign up as an artisan.</li>
    <li>Fill out the required information to set up your artisan account.</li>
    <li>Once your account is created, you'll be redirected to your artisan profile.</li>
  </ol>

  <h2>List Your Products:</h2>
  <ol>
    <li>Navigate to your <a href="/artisan-profile">artisan profile</a>.</li>
    <li>Click on the "Add Product" button to add new products.</li>
    <li>Fill out the product details form with information about your craft items.</li>
    <li>Submit the form to list your products for sale.</li>
  </ol>

  <h2>View Product Sales:</h2>
  <ol>
    <li>After listing your products, you can view your product sales on your artisan profile page.</li>
    <li>Navigate to your <a href="/artisan-profile">artisan profile</a> to see the list of products you've sold.</li>
    <li>Stay updated on your sales and craft items inventory.</li>
  </ol>
</div>
