<div class="artisans-products-container">
  <h2>Artisan Products Store</h2>

  <!-- Button to Toggle Create Product Form -->
  <button class="btn btn-primary mb-3 btn-create-product" (click)="toggleCreateProductForm()">Add Product</button>
  <br><br>

  <!-- Create Product Form -->
  <div *ngIf="showCreateProductForm" class="create-product-form">
    <form (submit)="createProduct()">
      <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" class="form-control" id="title" [(ngModel)]="newProduct.title" name="title" required>
      </div>
      <div class="form-group">
        <label for="description">Description:</label>
        <textarea class="form-control" id="description" [(ngModel)]="newProduct.description" name="description" required></textarea>
      </div>
      <div class="form-group row">
        <div class="col-md-6">
          <label for="category">Category:</label>
          <input type="text" class="form-control" id="category" [(ngModel)]="newProduct.category" name="category" required>
        </div>
        <div class="col-md-6">
          <label for="price">Price:</label>
          <input type="number" class="form-control" id="price" [(ngModel)]="newProduct.price" name="price" required>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-6">
          <label for="quantity">Quantity:</label>
          <input type="number" class="form-control" id="quantity" [(ngModel)]="newProduct.quantity" name="quantity" required>
        </div>
        <div class="col-md-6">
          <label for="image_url">Image URL:</label>
          <input type="text" class="form-control" id="image_url" [(ngModel)]="newProduct.image_url" name="image_url" required>
        </div>
      </div>
      <button type="submit" class="btn btn-primary btn-submit-product">Create Product</button>
    </form>
  </div>

  <!-- Existing Products -->
  <div *ngIf="products.length > 0; else noProducts">
    <div class="card" *ngFor="let product of products" [routerLink]="['/products', product.id]">
      <img class="card-img-top" [src]="product.image_url" alt="Product Image">
      <div class="card-body">
        <h5 class="card-title">{{ product.title }}</h5>
        <p class="card-text">Description: {{ product.description }}</p>
        <p class="card-text">Category: {{ product.category }}</p>
        <p class="card-text">Price: {{ product.price }}</p>
      </div>
    </div>
  </div>

  <ng-template #noProducts>
    <p>No products available for this artisan.</p>
  </ng-template>
</div>
