<div class="order-container">
  <p>Order History</p>

  <div *ngIf="orders.length > 0; else noOrders" class="order-content">
    <div *ngFor="let order of orders" class="order-item">
      <div class="order-details">
        <!-- Make the order ID clickable with router link -->
        <h3>
          <!-- Assuming items is an array of products within the order -->
          <a [routerLink]="['/products', getOrderProductId(order)]">Order ID: {{ order.id }}</a>
        </h3>
        <p>Total Amount: {{ order.total_amount }}</p>
        <!-- Add more order details here as needed -->
      </div>
    </div>
  </div>

  <ng-template #noOrders>
    <p>No orders found.</p>
  </ng-template>
</div>
