<div class="background-container">
  <div class="background-image"></div>
  <div class="content">
    <div class="title-card">
      <h1 class="title">Local Craft Market</h1>
    </div>
    <div class="taskbar">
      <ul>
        <li><a routerLink="/products" routerLinkActive="active">Products</a></li>
        <!-- Show login links based on user type -->
        <ng-container *ngIf="!(isLoggedIn$ | async)">
          <li><a routerLink="/login/user" routerLinkActive="active">User Login</a></li>
          <li><a routerLink="/artisan-login" routerLinkActive="active">Artisan Login</a></li>
        </ng-container>
        <li *ngIf="(isLoggedIn$ | async)">
          <a (click)="navigateToUserProfile(userId)" routerLinkActive="active" class="logged-in">User Profile</a>
        </li>
        <li *ngIf="(isLoggedIn$ | async)">
          <!-- Pass the artisanId to the navigateToArtisanProfile method -->
          <a (click)="navigateToArtisanProfile(artisanId)" routerLinkActive="active">Artisan Profile</a>
        </li>
        <li>
          <a routerLink="/cart" routerLinkActive="active">
            Cart ({{ cartItemCount }})
          </a>
        </li>
      </ul>
    </div>
    <br>
    <router-outlet></router-outlet>
  </div>
</div>
<!-- Footer Section -->
<footer>
  <div class="footer-links">
    <div class="footer-column">
      <h3>Buy</h3>
      <ul>
        <li><a routerLink="/login/user">Registration</a></li>
        <li><a routerLink="/help" routerLinkActive="active">Bidding & buying help</a></li>
        <!-- Other buy links -->
      </ul>
    </div>
    <div class="footer-column">
      <h3>Sell</h3>
      <ul>
        <li><a routerLink="/help-selling">How to sell</a></li>
        <li><a routerLink="/login/artisan">Start selling</a></li>
        <!-- Other sell links -->
      </ul>
    </div>
    <div class="footer-column">
      <h3>About</h3>
      <ul>
        <li><a href="#">About Local Craft Market</a></li>
        <!-- <li><a href="#">Company info</a></li> -->
        <!-- Other about links -->
      </ul>
    </div>
    <!-- Add more columns as needed -->
  </div>
</footer>
