/* Background container */
.background-container {
  position: relative; /* Ensure proper positioning */
  overflow: auto; /* Allow content to scroll */
  border-radius: 15px; /* Rounded edges */
}

/* Background image */
.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('https://source.unsplash.com/featured/?handcrafted') center/cover;
  z-index: -1; /* Ensure the background is behind other content */
}

/* Taskbar container */
.taskbar {
  position: relative; /* Ensure relative positioning */
  left: 0;
  width: 100%;
  padding-top: 115px;
  border-radius: 15px 15px 0 0; /* Rounded edges only on the top */
  /* background: linear-gradient(rgba(255, 255, 255, 0.724), rgba(0, 0, 0, 0)); Semi-transparent black background with fading effect */
  z-index: 2; /* Ensure the taskbar appears above the title card */
}

/* Taskbar list */
.taskbar ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

/* Taskbar list items */
.taskbar li {
  margin-right: 40px;
}

.taskbar li:last-child {
  margin-right: 0;
}

/* Taskbar links */
.taskbar a {
  text-decoration: none;
  color: #ffffff; /* Dark brown color for better contrast */
  font-weight: bold;
  font-size: 23px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  text-shadow: 2px 2px 7px rgb(0, 0, 0); /* White shadow around the text */
}

.taskbar a:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Adjust opacity on hover for better visibility */
}


/* Title card */
.title-card {
  position: absolute; /* Ensure absolute positioning */
  top: 0;
  left: 50%; /* Center the title card horizontally */
  transform: translateX(-50%); /* Center the title card horizontally */
  width: 100%; /* Set width */
  max-width: 1200px; /* Set max width */
  padding: 10px;
  height: 150px;
  border-radius: 8px; /* Rounded edges */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.178);
  background-color: rgba(43, 37, 37, 0.18); /* Semi-transparent dark background */
  z-index: 1; /* Ensure the title card appears above the background */
}

/* Title */
.title {
  margin: 0; /* Remove default margin */
  font-size: 3.5rem; /* Adjust font size */
  color: #ffffff; /* Set text color to black */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Set font family */
  text-align: center; /* Center align the text horizontally */
  text-shadow: 1px 1px 7px rgb(0, 0, 0); /* White shadow around the text */
}

footer {
  background-color: rgba(255, 255, 255, 0.654);
}

.footer-links {
  display: flex;
  justify-content: space-between;
}

.footer-column {
  flex: 1;
}

.footer-column h3 {
  margin-bottom: 10px;
}

