/* Background container */
.background-container {
  position: relative; /* Ensure proper positioning */
  overflow: auto; /* Allow content to scroll */
}

/* Background image */
.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('https://source.unsplash.com/featured/?handcraft') center/cover;
  z-index: -1; /* Ensure the background is behind other content */
}

/* Taskbar container */
.taskbar {
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
  z-index: 1;
  padding: 2px 0; /* Increase padding top and bottom */
}

/* Taskbar list */
.taskbar ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

/* Taskbar list items */
.taskbar li {
  margin-right: 40px;
}

.taskbar li:last-child {
  margin-right: 0;
}

/* Taskbar links */
.taskbar a {
  text-decoration: none;
  color: #fff; /* Set text color to white */
  font-weight: bold;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.taskbar a:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Adjust opacity on hover for better visibility */
}

/* Cart icon */
.cart-icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

/* Title */
.title {
  font-size: 3.5rem; /* Adjust font size */
  color: #fff; /* Set text color to white */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Set font family */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Add text shadow for depth */
  text-align: center; /* Center align the text horizontally */
}
.top-title {
  position: relative;
  top: 0; /* Ensure the title starts at the very top */
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 2;
  margin: 0; /* Remove any default margin */
  padding: 0; /* Remove any default padding */
}

