<div class="background-container">
  <div class="background-image"></div>
  <div class="content">
    <div class="title-card">
      <h1 class="title">Local Craft Market</h1>
    </div>
    <div class="taskbar">
      <ul>
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/products" routerLinkActive="active">Products</a></li>
        <li *ngIf="!(isLoggedIn$ | async)">
          <a routerLink="/login/user" routerLinkActive="active">Login</a>
        </li>
        <li *ngIf="(isLoggedIn$ | async)">
          <a (click)="navigateToUserProfile(userId)" routerLinkActive="active" class="logged-in">Logged In</a>
        </li>
        <li>
          <a routerLink="/cart" routerLinkActive="active">
            Cart ({{ cartItemCount }})
          </a>
        </li>
      </ul>
    </div>
    <br>
    <router-outlet></router-outlet>
  </div>
</div>
