<h2>Order List</h2>

<div *ngIf="orders.length > 0; else noOrders">
  <ul>
    <li *ngFor="let order of orders">
      <p>Order ID: {{ order.id }}</p>
      <p>Date: {{ order.order_date | date }}</p> <!-- Update property name to order_date -->
      <p>Total Amount: {{ order.total_amount | currency }}</p> <!-- Update property name to total_amount -->
      <!-- Add more order information here as needed -->
      <button (click)="viewOrderDetails(order.id)">View Details</button>
    </li>
  </ul>
</div>

<ng-template #noOrders>
  <p>No orders found.</p>
</ng-template>
