/* Global styles */
.order-list {
  max-width: 800px;
  margin: 0 auto;
  color: white;
  background-color: rgba(43, 37, 37, 0.9); /* Semi-transparent dark background */
  text-align: center;
.orders-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.order-card {
  background-color: rgba(43, 37, 37, 0.9); /* Semi-transparent dark background */
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  position: relative; /* Add relative positioning to the order card */

}

.order-details {
  margin-bottom: 15px;
  color: white;
}

.order-id {
  font-weight: bold;
  font-size: 18px;
  color: #ffffff; /* Adjusted color for better readability */
}

.order-date,
.order-total {
  font-size: 16px;
  color: #ffffff;
}

/* Button styles */
.view-details-btn,
.delete-order-btn {
  display: inline-block;
  background-color: #ff0400;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.view-details-btn:hover,
.delete-order-btn:hover {
  background-color: #0056b3;
}

.delete-order-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}

/* No orders message */
.no-orders-msg {
  font-style: italic;
  font-size: 18px;
  color: #555;
}

/* Total amount */
.total-amount {
  margin-top: 20px;
  text-align: right;
  position: relative; /* Add position relative */
  color: white;
}

.total-amount span {
  font-weight: bold;
}

.total-amount-value {
  font-size: 1.2em;
  color: #007bff;
}

/* Remove unnecessary CSS for the order checkout button */
.order-checkout-btn {
  background-color: #127d12; /* Changed background color to green */
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
  width: 75%; /* Set width to 75% of the parent container */
}


.order-checkout-btn:hover {
  background-color: #0056b3;
}
.order-form-container {
  background-color: rgba(43, 37, 37, 0.9); /* Semi-transparent dark background */
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  position: relative;
  margin-bottom: 20px; /* Add margin-bottom to separate it from other elements */
  color: white;
}

.order-form label {
  display: block;
  margin-bottom: 10px;
}

.order-form input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
}

.order-form .submit-btn {
  background-color: #127d12; /* Changed background color to green */
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.order-form .submit-btn:hover {
  background-color: #0056b3;
}
