<div *ngIf="productData" class="product-details-container">
  <!-- Display average review rating -->
  <h2 class="product-title">{{ productData.title }}</h2>
  <p class="total-rating">Average Rating: {{ totalRating.toFixed(2) }}/5</p>
  <div class="product-details">
    <div style="width: 66.67%;"> <!-- Set width to 2/3 of the screen -->
      <img [src]="productData.image_url" alt="Product Image" class="product-image">
      <div class="product-info">
        <p class="product-description">{{ productData.description }}</p>
        <p class="product-price">Price: ${{ productData.price }}</p>
        <p class="product-quantity">Quantity: {{ productData.quantity }}</p>
        <!-- Empty form line for writing review -->
        <div class="form-group">
          <label for="writeReview">Write Your Review Here:</label>
          <textarea id="writeReview" name="writeReview"></textarea>
        </div>
      </div>
    </div>
  </div>

  <!-- Review Section -->
  <h3 class="section-title">Product Reviews</h3>
  <!-- Display average review rating -->
  <div *ngIf="reviews.length > 0" class="review-list">
    <div *ngFor="let review of reviews" class="review-item">
      <p><strong>User: {{ review.user }}</strong></p>
      <p>Comment: {{ review.comment }}</p>
      <p>Rating: {{ review.rating }}/5</p>
    </div>
  </div>
  <div *ngIf="reviews.length === 0" class="no-reviews">
    <p>No reviews available for this product yet.</p>
  </div>
</div>
