.login-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.user-button {
  background-color: #477743; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  width: 33%;
}

.user-button:hover,
.artisan-button:hover {
  background-color: #45a049; /* Darker Green */
}
.container {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-container {
  width: 70%;
  height: auto;
  max-height: 70vh;
}
