<div class="artisan-profile-container">
  <div *ngIf="artisan" class="artisan-profile">
    <h1 class="profile-title">Artisan Profile</h1>
    <div class="profile-details">
      <p><strong>Artisan ID:</strong> {{ artisan.id }}</p>
      <p><strong>Name:</strong> {{ artisan.username }}</p>
      <p><strong>Bio:</strong> {{ artisan.bio }}</p>
    </div>

    <!-- Button container -->
    <div class="button-container">
      <!-- Button to navigate to artisan products -->
      <button (click)="navigateToProducts()" class="view-products-button">View Products</button>

      <!-- Logout button -->
      <button (click)="logout()" class="logout-button">Logout</button>
    </div>
  </div>

  <div *ngIf="!artisan" class="artisan-not-found">
    <p>Artisan not found.</p>
  </div>
</div>
