.user-profile-container {
  max-width: 600px;
  margin: 50px auto; /* Center the container horizontally and add vertical margin */
  background-color: rgba(43, 37, 37, 0.9); /* Semi-transparent dark background */
  border-radius: 15px; /* Rounded edges */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow effect */
  padding: 20px; /* Add padding to the container */
}

.user-profile {
  color: #ffffff; /* Text color */
}

.profile-details p {
  margin: 10px 0; /* Add more margin between profile details */
}

.change-password-section {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 15px;
}

input[type="password"] {
  width: 100%; /* Make password inputs full width */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px; /* Add margin between buttons */
}

button:hover {
  background-color: #0056b3;
}

.logout-button {
  background-color: #dc3545;
}
