<div>
  <h2>User List</h2>
  <ul>
    <li *ngFor="let user of users">
      {{ user.user_type}} - {{ user.username }} - {{ user.email }}
    </li>
  </ul>
</div>

<!-- Create User Form -->
<form (submit)="createUser()">
  <input type="text" name="username" placeholder="Username" required [(ngModel)]="newUser.username">
  <input type="password" name="password" placeholder="Password" required [(ngModel)]="newUser.password">
  <input type="email" name="email" placeholder="Email" required [(ngModel)]="newUser.email">

  <select name="userType" [(ngModel)]="newUser.user_type" required>
    <option value="Artisan">Artisan</option>
    <option value="Buyer">Buyer</option>
  </select>

  <button type="submit">Create User</button>
</form>

<!-- Select User Form -->
<form>
  <select name="selectedUser" [(ngModel)]="selectedUser">
    <option *ngFor="let user of users" [ngValue]="user">{{ user.username }}</option>
  </select>

  <button (click)="selectUser()">Select User</button>
</form>

<!-- Update User Form -->
<form *ngIf="selectedUser" (submit)="updateUser()">
  <input type="text" name="username" placeholder="Updated Username" required [(ngModel)]="selectedUser.username">
  <input type="password" name="password" placeholder="Updated Password" required [(ngModel)]="selectedUser.password">
  <input type="email" name="email" placeholder="Updated Email" required [(ngModel)]="selectedUser.email">
  <select name="userType" [(ngModel)]="selectedUser.user_type" required>
    <option value="Artisan">Artisan</option>
    <option value="Buyer">Buyer</option>
  </select>
  <button type="submit">Update User</button>
</form>

<!-- Delete User Button -->
<button *ngIf="selectedUser" (click)="deleteUser()">Delete User</button>
