.user-profile-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(43, 37, 37, 0.9); /* Semi-transparent white background */
  border-radius: 15px; /* Rounded edges */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow effect */
  transition: box-shadow 0.3s ease; /* Smooth transition for shadow */
}

.user-profile-container:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); /* Increase shadow on hover */
}

.user-profile {
  background-color: rgba(43, 37, 37, 0.9); /* Semi-transparent dark background */
  border-radius: 8px;
  padding: 20px;
  color: #ffffff; /* Text color */
}

.profile-details p {
  margin: 5px 0;
  color: #ffffff; /* Text color */
}

.change-password-section {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 15px;
}

input[type="password"] {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

.logout-button {
  margin-top: 20px;
  background-color: #dc3545;
}
