/* styles.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.442); /* Dark grey/blackish color with transparency */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #fff; /* White text color */
  text-align: center;
}

h2 {
  color: #ccc; /* Light grey text color */
  margin-top: 20px;
}

ol {
  margin-left: 20px;
  color: white;
}

li {
  margin-bottom: 10px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
