<div class="container">
  <div class="image-container">
    <img src="https://assets.wfcdn.com/im/99182157/resize-h445%5Ecompr-r85/1783/17836880/Handmade+Solid+Wood+Landscape+%26+Nature+Wall+Decor.jpg" alt="Craft Store Image" class="image">
  </div>
  <h2>Welcome to Our Craft Store!</h2>
  <p>Find the best crafts for your home, kitchen, office, and more.</p>
  <p>Explore our artisans' creations or search for specific items.</p>
</div>
<!-- <div class="orbit">
  <div class="central-image">
    <img src="https://www.chinadaily.com.cn/china/images/attachement/jpg/site1/20170814/b8ac6f922b3a1afbee0c07.jpg" alt="Central Image">
  </div>
  <div class="orbiting-images">
    <div class="orbiting-image">
      <img src="https://i.etsystatic.com/47920874/r/il/c849d3/5845773079/il_1588xN.5845773079_l27b.jpg" alt="Orbiting Image 3">
    </div>
    <div class="orbiting-image">
      <img src="https://ae01.alicdn.com/kf/Hf1f052f7aa164203b14994de92c01954K/Wooden-Motorcycle-Model-Ornaments-Retro-Motor-Figurine-Decoration-Wood-Motorbike-Handmade-Gifts-Kids-Toy-Home-Office.jpg" alt="Orbiting Image 4">
    </div>
    <div class="orbiting-image">
      <img src="https://i.ebayimg.com/images/g/dLIAAOSwfzpjCS9Z/s-l400.jpg" alt="Orbiting Image 5">
    </div>
    <div class="orbiting-image">
      <img src="https://images1.novica.net/pictures/10/p131728_2_400.jpg" alt="Orbiting Image 6">
    </div>
    <div class="orbiting-image">
      <img src="https://m.media-amazon.com/images/I/A1MTYBNHHYL._AC_UF350,350_QL80_.jpg" alt="Orbiting Image 7">
    </div>
    <div class="orbiting-image">
      <img src="https://i.pinimg.com/736x/40/3a/c3/403ac3b87f6546e375afe353ee3aa103.jpg" alt="Orbiting Image 8">
    </div>
    <div class="orbiting-image">
      <img src="https://assets.wfcdn.com/im/99182157/resize-h445%5Ecompr-r85/1783/17836880/Handmade+Solid+Wood+Landscape+%26+Nature+Wall+Decor.jpg" alt="Orbiting Image 9">
    </div>
  </div>
</div> -->
