<div class="background-container">
  <div class="top-title">
    <h1 class="title">Welcome to Our Craft Store!</h1>
    <p class="description">Discover Unique Creations for Your Home, Kitchen, and Office</p>
    <p class="explore">Explore Our Artisans' Masterpieces or Search for Specific Items</p>
    <input type="text" [(ngModel)]="searchTerm" (keyup.enter)="searchProducts()" placeholder="Search our Crafts" class="search-input">
    <button (click)="searchProducts()" class="search-button">Search</button>
  </div>
</div>
