.container {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.image-container {
  width: 70%;
  height: auto;
  max-height: 70vh;
}

h2 {
  font-size: 36px;
  font-weight: bold;
  margin-top: 0px;
}

p {
  font-size: 18px;
  margin-bottom: 10px;
}

