.login-container {
  max-width: 600px; /* 2/3 of the container width */
  margin: 0 auto; /* Center the container horizontally */
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.login-form,
.registration-form {
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  width: 100%; /* Ensure the forms take up full width */
  max-width: 400px; /* Set maximum width for better readability */
}

.login-form h2,
.registration-form h2 {
  margin-bottom: 10px;
  text-align: center; /* Center the headings */
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="email"],
select {
  width: calc(100% - 20px); /* Adjust as needed */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 20px 0;
}
